* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
body {
  background-color: #d4d4d4fb;
}

.header {
  padding: 2.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));

  h1 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
  }

  .Search {
    display: flex;
    justify-content: right;
    .left {
        width: 66.666667%;
    }
  }

  .modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;

    .modal__content {
      padding: 20px;
      border-radius: 12px;
      background-color: white;
      height: 350px;
      width: 400px;
      transform: scale(0.5);
      transition: 0.3s ease-in-out;
      background-color: #d4d4d4fb;
    }
  }
  .modal.active {
   opacity: 1;
   pointer-events: all;
  }

  .register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input {
      margin-top: 20px;
      border: 1px solid white;
      border-radius: 10px;
      border-width: 10px;
      font-size: 20px;
    }
    p{
      text-transform: capitalize;
      text-align: center;
      padding-top: 15px;
    }
    .btn_subbmit{
      height: 60px;
      margin-top: 20px;
      border: none;
      border-radius: 20px;
      background-color: white;
      cursor: pointer;
      &:active{
        opacity: 0.5;
      }
    }
  }

  .modal__content.active {
    transform: scale(1);
  }

  .input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    border-width: 2px;
    width: 80.666667%;
    font-size: 20px;
  }

  .button-search {
    margin-left: 12px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
}

.btn_signin{
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}

.btn_signup {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}

.content {
  padding-top: 20px;
}

.found-block {
  text-align: center;
}

.main {
  @media only screen and (max-width: 430px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  margin: 10px 0px 10px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  .title {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 600;
  }
}
.anime-block {
  @media only screen and (max-width: 430px) {
    img {
      width: 250px;
      height: 300px;
    }
  }
  padding: 0.25rem;
  display: flex;
  align-items: center;

  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.footer-block {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.load-more {
  padding-bottom: 30px;
}

.button {
  cursor: pointer;
  height: 50px;
  width: 110px;
  border: 2px solid #5555ff;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-size: 18px;

  &:active {
    opacity: 0.8;
  }
}
.container-fullcontent {
  padding: 30px 50px 0% 50px;
  .fullcontent {
    background-color: #ffff;
    padding-left: 10px;
    .left {
      h1 {
        margin-left: 15px;
      }
      display: flex;
      padding-top: 10px;
      .properties {
        display: grid;
        padding-top: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 10px;
        margin-left: 15px;
        .status {
          font-size: 20px;
        }
        .episodes {
          font-size: 20px;
        }
        li {
          list-style-type: none;
          margin-top: 5px;
        }
      }

    }
    .desc {
      font-size: 18px;
      padding-bottom: 20px;
    }

  }
}
