* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
body {
  background-color: #d4d4d4fb;
}

.App {
}
.header {
  padding: 2.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));

  h1 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
  }

  .Search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    border-width: 2px;
    width: 66.666667%;
    font-size: 20px;
  }

  .button-search {
    margin-left: 12px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
}
.content {
  padding-top: 20px;
}

.found-block {
  text-align: center;
}

.main {
  @media only screen and (max-width: 430px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  margin: 10px 0px 10px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  .title {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 600;
  }
}
.anime-block {
  @media only screen and (max-width: 430px) {
    img {
      width: 250px;
      height: 300px;
    }
  }
  padding: 0.25rem;
  display: flex;
  align-items: center;

  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.footer-block {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.load-more {
  padding-bottom: 30px;
}

.button {
  cursor: pointer;
  height: 50px;
  width: 110px;
  border: 2px solid #5555ff;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-size: 18px;

  &:active {
    opacity: 0.8;
  }
}
.container-fullcontent {
  padding: 30px 50px 0% 50px;
  .fullcontent {
    background-color: #ffff;
    padding-left: 10px;
    .left {
      h1 {
        margin-left: 15px;
      }
      display: flex;
      padding-top: 10px;
      .properties {
        display: grid;
        padding-top: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 10px;
        margin-left: 15px;
        .status {
          font-size: 20px;
        }
        .episodes {
          font-size: 20px;
        }
        li {
          list-style-type: none;
          margin-top: 5px;
        }
      }

    }
    .desc {
      font-size: 18px;
      padding-bottom: 20px;
    }

  }
}
